In [ ]:
!pip install autokeras
!pip install git+https://github.com/keras-team/keras-tuner.git@1.0.2rc4

In [ ]:
PATH = '/content/drive/MyDrive/nh_nlp/리그1open/open'

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import autokeras as ak

In [ ]:
train = pd.read_csv(PATH + "/news_train.csv")
X = train.content.values
Y =  train['info'].values

In [ ]:
input_node = ak.TextInput()
output_node = ak.TextToIntSequence()(input_node)
output_node = ak.Embedding()(output_node)
output_node = ak.ConvBlock(separable=True)(output_node)
output_node = ak.ClassificationHead()(output_node)
clf = ak.AutoModel(
    inputs=input_node,
    outputs=output_node,
    overwrite=True,
    max_trials=5
    )
clf.fit(X, Y, epochs=5)
model = clf.export_model()

Trial 5 Complete [00h 06m 28s]
val_loss: 0.3494620621204376

Best val_loss So Far: 0.0020312401466071606
Total elapsed time: 00h 32m 56s
INFO:tensorflow:Oracle triggered exit
Epoch 1/5
3711/3711 [==============================] - 94s 25ms/step - loss: 0.1164 - accuracy: 0.9525
Epoch 2/5
3711/3711 [==============================] - 95s 26ms/step - loss: 0.0422 - accuracy: 0.9848
Epoch 3/5
3711/3711 [==============================] - 95s 26ms/step - loss: 0.0263 - accuracy: 0.9905
Epoch 4/5
3711/3711 [==============================] - 94s 25ms/step - loss: 0.0178 - accuracy: 0.9935
Epoch 5/5
3711/3711 [==============================] - 95s 26ms/step - loss: 0.0144 - accuracy: 0.9946
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/tracking/tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: ./auto_model/best_model/assets

In [ ]:
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None,)]                 0
_________________________________________________________________
expand_last_dim (ExpandLastD (None, 1)                 0
_________________________________________________________________
text_vectorization (TextVect (None, 64)                0
_________________________________________________________________
embedding (Embedding)        (None, 64, 128)           2560128
_________________________________________________________________
dropout (Dropout)            (None, 64, 128)           0
_________________________________________________________________
separable_conv1d (SeparableC (None, 62, 32)            4512
_________________________________________________________________
separable_conv1d_1 (Separabl (None, 60, 32)            1152
_________________________________________________________________
max_pooling1d (MaxPooling1D) (None, 30, 32)            0
_________________________________________________________________
separable_conv1d_2 (Separabl (None, 28, 256)           8544
_________________________________________________________________
separable_conv1d_3 (Separabl (None, 26, 256)           66560
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 13, 256)           0
_________________________________________________________________
flatten (Flatten)            (None, 3328)              0
_________________________________________________________________
dense (Dense)                (None, 1)                 3329
_________________________________________________________________
classification_head_1 (Activ (None, 1)                 0
=================================================================
Total params: 2,644,225
Trainable params: 2,644,225
Non-trainable params: 0
_________________________________________________________________

In [ ]:
test = pd.read_csv(PATH + "/news_test.csv")
sample_submission = pd.read_csv(PATH + "/sample_submission.csv")
pred_test = model.predict(test.content.values)
sample_submission.loc[:,'info'] = np.where(pred_test> 0.5, 1,0).reshape(-1)

In [ ]:
sample_submission.loc[:,["id","info"]].to_csv("sample_submission.csv", index = False)
sample_submission

                  id  info
0        NEWS00237_1     0
1        NEWS00237_2     0
2        NEWS00237_3     0
3        NEWS00237_4     0
4        NEWS00237_5     0
...              ...   ...
142560  NEWS09482_72     1
142561  NEWS09482_73     1
142562  NEWS09482_74     1
142563  NEWS09482_75     1
142564  NEWS09482_76     1

[142565 rows x 2 columns]